body {
    margin:0;
    font-family: 'Montserrat', sans-serif !important;
}

header {
    background-color:#234863;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    color:#fff;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size:32px;
}

footer {
    background-color:#234863;
    color:#fff;
    line-height: 3;
    text-align:center;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom:0;
}

ul {
    line-height:2.5;
    list-style: none;
    margin:0;
    padding:0;
    max-height: 160px;
    overflow: hidden;
}

li {
    width:100%;
    font-weight: normal !important;
    font-family: 'Montserrat', sans-serif !important;
}

.weatherContainer {
    display: inline-block;
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    max-width:1400px;
    text-align: center;
}

.weatherTile {
    position: relative;
    box-shadow: 0px 8px 14px 2px #c5c5c5;
    background: #69a0c7;
    color:#f7f7f7;
    text-transform: capitalize;
    height: 500px;
    width: 90%;
    padding-top:20px;
}

.weatherTileFooter {
    color:#555;
    background-color:#f7f7f7;
    width:100%;
    height: 110px;
    padding:20px 0px 0px 20px;
    position: absolute;
    box-sizing: border-box;
    bottom:0px;
    left:0;
}

.weatherTileFooter div{
    width:50%;
    float:left;
    height:50px;
    text-align:left;
    font-weight: normal !important;
    font-family: 'Montserrat', sans-serif !important;
}

.weatherTileFrame {
    float: left;
    width:33.33%;
    text-align: center;
}

.featured{
    box-shadow: 0px 38px 50px 0px #5495c3;
    margin: 4px 20px;
}

.nameTile {
    font-size: 36px;
    width:33.33%;
    float:left;
    text-align: center;
}

.city {
    font-size:20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.temp {
    font-size: 90px;
    float:left;
    width: 50%;
}

.infoBox {
    width: 50%;
    float:left;
    padding: 15px 0px;
    text-align: left;
    line-height: 1.7;
}

#historyFrame {
    padding:20px;
}

.headerText{
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 8px;
    margin-bottom:4px;
}

#timerClock {
    margin-bottom:150px;
}

/*Font Awesome*/
.fa-sun:before, .fa-moon:before, .fa-cloud-sun:before, .fa-cloud:before, 
.fa-smog:before, .fa-cloud-showers-heavy:before, .fa-cloud-sun-rain:before,
.fa-bolt:before, .fa-snowflake:before, .fa-water:before, .fa-caret-up:before,
.fa-caret-down:before, .fa-tachometer-alt:before, .fa-tint:before{
    font-weight:900;
    font-family: "Font Awesome 5 Free" !important;
}

@media only screen and (max-width:900px) {

    .weatherTile{
        width:100%;
    }

    .weatherTileFrame {
        width:100%;
        margin-bottom:20px;
    }
}